{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  
  <script>
document.addEventListener('DOMContentLoaded', function () {
    const btn = document.getElementById('preview-btn');
    if (!btn) return;

    btn.addEventListener('click', function () {
        const pathParts = window.location.pathname.split('/');
        const templateId = pathParts[4];  // <-- тут фикс
        const url = `/admin/label_printer/labeltemplate/${templateId}/preview/`;

        fetch(url)
            .then(response => {
                if (!response.ok) throw new Error("Ошибка ответа сервера");
                return response.blob();
            })
            .then(blob => {
                const imgURL = URL.createObjectURL(blob);
                const modal = window.open("", "preview", "width=600,height=400");
                modal.document.write(`<img src="${imgURL}" style="max-width:100%;">`);
            })
            .catch(err => alert("Ошибка предпросмотра: " + err));
    });
});
  </script>
{% endblock %}

{% block content %}
{{ block.super }}
<button type="button" class="button" id="preview-btn" style="margin-left: 0px;">Предпросмотр этикетки</button>

<div class="help"><br>Перед нажатием кнопки "Предпросмотр" необходимо нажать "Save and Continue Editing" для применения настроек. <br> <br>Для визуализации кириллицы поставь чекбокс "Product name via pillow", генератор изображений не поддерживает русские символы. После позиционирования можно снять чекбокс (в принтере должен быть загружен шрифт с поддержкой кириллицы) <br><br>Работает только если указан размер этикетки </div>

{% endblock %}
