{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta name="apple-mobile-web-app-title" content="StoreFront">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>StoreFront</title>
</head>
<header>
    <button class="refresh-button" onclick="forceReload()">♻️</button>
    {% if request.user.is_authenticated and request.user.username == "admin" %}
    <a href="/dashboard" class="dashboard-button">📋</a>
    {% endif %}
    <a href="/admin"><img src="static/img/gastonom-logo.png" width="750" height="55" alt="gastonom-logo"></a>
</header>
<body>
    <div class="grid"> 
        {% for product in products %}
            <div class="card" data-id="{{ product.id }}" data-name="{{ product.name }}" data-description="{{ product.description }}" data-barcode="{{ product.barcode }}" data-barcode15="{{ product.barcode15 }}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100" height="100"><br>
                {{ product.name }}
            </div>
        {% endfor %}
    </div>

<div class="overlay" id="overlay"></div>
<div class="modal" id="modal">
    <div class="image-section">
    <img id="modalImage" src="" alt="Product">
    </div>
    <div class="description-section">
    <h1 id="modalName">Название</h1>
    <p id="modalDescription">Описание</p>
    <p class="skip_info_field" id="modalBarcode">Артикул 1 литр </p>
    <p class="skip_info_field" id="modalBarcode15">Артикул 1,5 литра</p>
    </div>
    <div class="action-section">
    <h1>Выбор тары</h1>
    <button onclick="sendPrint(selectedProductBarcode)">1 Литр</button>
    <button onclick="sendPrint(selectedProductBarcode15)">1,5 Литра</button>
    </div>
</div>

<script>
    let selectedProductId = null;
    
    document.querySelectorAll('.card').forEach(card => {
        card.addEventListener('click', () => {
        selectedProductId = card.dataset.id;
        selectedProductName = card.dataset.name;
        selectedProductDescription = card.dataset.description;
        selectedProductBarcode = card.dataset.barcode;
        selectedProductBarcode15 = card.dataset.barcode15;
        document.getElementById('modalName').innerText = `${selectedProductName}`;
        document.getElementById('modalDescription').innerText = `${selectedProductDescription}`;
        // document.getElementById('modalBarcode').innerText = `${selectedProductBarcode}`;
        // document.getElementById('modalBarcode15').innerText = `${selectedProductBarcode15}`;
        document.getElementById('modalImage').src = card.querySelector('img').src;
        document.getElementById('overlay').style.display = 'block';
    
        const modal = document.getElementById('modal');
        modal.classList.add('show');
        modal.style.display = 'flex';
        });
    });
    
    document.getElementById('overlay').addEventListener('click', () => {
        document.getElementById('overlay').style.display = 'none';
        const modal = document.getElementById('modal');
        modal.classList.remove('show');
        setTimeout(() => {
        modal.style.display = 'none';
        }, 300);
    });
    
    function sendPrint(barcode) {
    fetch('labels/print/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}',
        },
        body: JSON.stringify({ product_name: selectedProductName, barcode: barcode })
    })
    .then(response => response.json().then(json => {
        document.getElementById('overlay').click();

        if (response.ok && json.success) {
            showToast(json.message || 'Этикетка отправлена!', 'success');
        } else {
            showToast(json.error || 'Ошибка при печати', 'error');
        }
    }))
    .catch(error => {
        console.error("Ошибка:", error);
        showToast('Сервер не ответил', 'error');
    });
}

    // CSRF-токен (если Django)
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (const cookie of cookies) {
        const trimmed = cookie.trim();
        if (trimmed.startsWith(name + '=')) {
            cookieValue = decodeURIComponent(trimmed.substring(name.length + 1));
            break;
        }
        }
    }
    return cookieValue;
    }   


    
    function showToast(message, type) {
    console.log("Toast:", message, type);
    const toast = document.getElementById('toast');
    toast.textContent = message;
    toast.className = `toast show ${type}`;
    toast.classList.remove('hidden');

    setTimeout(() => {
        toast.classList.remove('show');
        setTimeout(() => {
            toast.classList.add('hidden');
        }, 500);
    }, 3500);
}

// JS кнопки обновления страницы
const forceReload = () => {
            // Создаем объект URL для работы с параметрами
            const url = new URL(window.location.href);
            
            // Добавляем/обновляем параметр 'force'
            url.searchParams.set('force', Date.now());
            
            // Перезагружаем страницу
            window.location.href = url.toString();
        };

    </script>
    <!-- Нотификации -->
    <div id="toast" class="toast hidden"></div>     
</body>
</html>
