body {
margin: 0;
font-family: 'Segoe UI', sans-serif;
background: url('/static/img/bg_wood.jpg');
background-size: 100% auto;
background-color: #f3c7c7; /* запасной цвет фона */
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
                 'Helvetica Neue', Arial, sans-serif; /* Системные шрифты */
}

header {
    position: relative; /* Для позиционирования кнопки относительно header */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 59px;
    padding: 0 20px; /* Добавляем отступы по бокам */
}

header {
    position: relative;
    height: 70px;
    background: #000000; /* ваш цвет */
}

/* Левая и правая группы */
.button-group-left,
.button-group-right {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.button-group-left {
    left: 20px;
}

.button-group-right {
    right: 20px;
}

/* Кнопки */
.button {
    padding: 12px 18px;
    background: #1b1b1b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 24px;
    transition: all 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.button:hover {
    background: #2e2e2e;
    transform: scale(1.05);
}

.button:active {
    transform: scale(1);
}

/* Логотип по центру */
.logo-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo-center img {
    height: 65px;
    width: auto;
}

/* Сетка карточек */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 15px;
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

/* Карточка товара */
.card {
    background: #d8d6d3;
    border-radius: 16px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}
.card:hover {
    transform: translateY(-5px);
}
.card img {
    width: 150px;
    height: 150px;
    margin-top: 4px;
    border-radius: 12px;
    /* border-radius: 50%; */
    border: 2px solid rgba(0, 0, 0, 0.2);
}

/* Оверлей */
.overlay {
    position: fixed;
    display: none;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 1000;
    background: #fff;
    border-radius: 20px;
    width: 1000px;
    height: 500px;
    max-width: 90%;
    flex-direction: row;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.modal.show {
    display: flex; /* ← теперь появляется только при show */
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

/* Левая часть с изображением */
.modal .image-section {
    flex: 1;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .image-section img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 12px;
    /* border-radius: 50%; */
}

/* Центральная часть */
.modal .description-section {
    flex: 1.5;
    padding: 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: justify; 
    top: 0;                  /* Отступ от верхней границы блока */
}

.description-section {
    max-height: 500px; /* Установите максимальную высоту, по необходимости */
    overflow-y: auto;  /* Включает вертикальную прокрутку */
}

/* Правая часть с кнопками */
.modal .action-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 10px;
    padding: 20px;
    justify-content: center; /* Выравниваем по вертикали */
    text-align: center;
    padding-top: 10px; 
}

.modal .action-section h1 {
    margin-top: 0;             /* Убираем отступ сверху для заголовка */
}


.modal .action-section button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 16px;
    height: 140px;
    border-radius: 12px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.modal .action-section button:hover {
    background-color: #c0392b;
}
.modal .action-section button:active {
    transform: scale(0.95);
}

.modal .skip_info_field {
    display: none
}



.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease, bottom 0.5s ease;
}

.toast.show {
  opacity: 1;
  bottom: 40px;
}

.toast.success {
  background-color: #4CAF50;
}

.toast.error {
  background-color: #F44336;
}

.hidden {
  display: none;
}

