[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[dn]
C  = RU
ST = Podolsk
L  = Borodino
O  = Gastronom
OU = Dev
CN = storefront.local

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = storefront.local
DNS.2 = *.raspberry.local
DNS.3 = storefront.netbird.cloud


